.container-category {
  margin: 0 auto;
  justify-content: center;
  width: 40rem;
  height: 15rem;
  background-color: #cd998943;
  margin-top: 3rem;
  box-shadow: 3px 3px 3px rgb(150, 147, 147);
  margin-bottom: 3rem;
}

.input-name-category {
  margin-top: 1rem;
}
