.title-signup {
  text-align: center;
  font-family: "Bellota";
  margin-top: 3rem;
}

.form-signup {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-family: "Bellota";
}

.input-signup-name {
  margin-right: 1rem;
}
.input-signup-psw {
  margin-right: 3rem;
}

.input-signup-confirm {
  margin-right: 9rem;
}
.label-form {
  padding-right: 1rem;
}
.button-signup {
  background-color: var(--color-green);
  border: none;
  width: 12rem;
  height: 1.8rem;
  color: white;
  font-family: "Bellota";
}
.position-button {
  padding-left: 3.8rem;
}
.link-login {
  margin-top: 2rem;
  margin-left: 5rem;
  text-align: center;
}
.button-go {
  text-decoration: underline;
}
