@font-face {
  font-family: Bellota;
  src: url("../../assets/fonts/Bellota_Text/BellotaText-Light.ttf");
}

.container-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 6rem;
  margin-top: 3rem;
  font-family: "Bellota";
}

.image-card {
  height: 20rem;
  width: 18rem;
  object-fit: cover;
}

.reference-card {
  font-family: "Bellota";
  font-weight: 1000;
  font-size: 2rem;
}
.description-card {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 3000;
}
