@import url("../../variables.css");

.button-back {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
}

.container-articlePage {
  display: flex;
  max-width: 60rem;
}

.title-random {
  padding-top: 7rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: "Bellota";
}
