@font-face {
  font-family: Allerta;
  src: url("../../assets/fonts/Bellota_Text/BellotaText-Light.ttf");
}

.avatar {
  width: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  height: 4rem;
  font-family: "Allerta";
  font-weight: 600;
  .link-nav {
    padding-left: 25rem;
  }
}

a {
  color: black;
  text-decoration: none;
  padding-left: 3rem;
}
